{{!-- Remember: match names back and front end --}}

<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>
    
    <label for="user-select">Type of user:</label>
    <select name="users" id="user-select">
      <option value="">Choose a type of User</option>
      <option value="artist">Artist</option>
      <option value="collector">Collector</option>
    </select>

    <button type="submit">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>