{{!-- <h1>Gallery</h1>
 
{{#each nft}}
  <div>
    <h3>{{title}}</h3>
    <p>By: {{author}}</p> 
    <a href="/gallery/{{_id}}">See more</a> {{!-- link that points to the details page --}}
  </div>
{{/each}} --}}


