<form action="/auth/collector/{{_id}}"" method="POST">
  <label for="">First Name:</label>
  <input type="text" name="firstName" id="">
  <label for="">Last Name:</label>
  <input type="text" name="lastName" id="">


  <button type="submit">Create your profile</button>
</form>
