
<br>
<h1>NFTrade</h1>
<h2>Welcome to the NFTrade platform!</h2>
<p>Community for NFT enthusiasts</p>
<br>


{{!-- <button onclick="location.href='/auth/login'" type="button">LogIn</button> 
<button onclick="location.href='/auth/signup'" type="button">SignUp</button>
<button onclick="location.href='/nfts/create'" type="button">NftsForm</button>
<button onclick="location.href='/nfts/gallery'" type="button">NftsList</button>
<button onclick="location.href='/auth/logout'" type="button">Logout</button> --}}


