<h1>NFTrade</h1>
<h2>Welcome to the NFTrade platform!</h2>
<p>Community for NFT enthusiasts</p>
<br>
<hr>
<br>

<button onclick="location.href='/auth/login'" type="button">LogIn</button> 
<button onclick="location.href='/auth/signup'" type="button">SignUp</button>


