<h1>NFTrade</h1>
<h2>Welcome to the NFTrade platform!</h2>
<p>Community for NFT enthusiasts</p>
<br>
<hr>
<br>

<a href="auth/signup" class="btn">SignUp</a>
<a href="auth/login" class="btn">LogIn</a>


