<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" /> 
  </head>
<body>
<header>
<div class="topnav" id="myTopnav">
  <a href="/" style="color:red"><b>NNFT</b></a>
  <a href="/">Home</a>
  <a href="/nfts/gallery">Gallery</a>
  {{#unless currentUser}}
  <a href="/auth/signup">SignUp</a>
  <a href="/auth/login">LogIn</a>
  {{/unless}}
  {{#if currentUser}}
  <a href="/auth/logout">LogOut</a>
  {{/if}}
  {{#if artist}}
  <a href="/nfts/create">NNFT Form</a>
  {{/if}}

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
 </script>
</header>
<section class="mainsect">
  {{{body}}}
</section>  
<script src="/js/script.js"></script>

</body>
