<form action="/nfts/create" method="POST" enctype='multipart/form-data'>
<div class="new-nft">
<h1>Create a New NNFT</h1>
</div>

<div class="nft-container">
  <div id="title">
  <label for="">Title:</label>
  <input id="inputcreatenft" type="text" name="title" id="">
  </div>
  <div id="description">
  <label for="">Description:</label>
  <input type="text" name="description"/>
  </div>
  <div id="value">
  <label for="">Value:</label>
  <input id="inputcreatenft" type="number" name="value" id="">
  </div>
  <div id="file">
  <label for='image'>Image:<input type='file' name='image'/></label>
  </div>

   <input type="submit" value="Create a NNFT">
</form>
</div>

