<br>
<br>
<form action="/nfts/create" method="POST" enctype='multipart/form-data'>
  <div id="titlenft">
  <label for="">Title:</label>
  <input id="inputcreatenft" type="text" name="title" id="">
  </div>
  <div id="description">
  <label for="">Description:</label>
  <input id="inputcreatenft" type="textarea" name="description" rows="5" cols="10"></textarea>
  </div>
  <div id="value">
  <label for="">Value:</label>
  <input id="inputcreatenft" type="number" name="value" id="">
  </div>
  <div id="file">
  <label for='image'>Image:<input type='file' name='image'/></label>
</div>

  <button id="nftbutton" type="submit">Create NFT</button>
</form>
