
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  text-align: center ;
  margin: 15vh;
  margin-left: 10vh;

  
}

.subtitle{
  text-align: center;
  margin: 10vh;
}

#login-form {
  text-align: center;
  
}
#email{
  text-align: center;
  margin: 5vh;
  margin-right: 5vh;
}
#password{
  text-align: center;
  margin-right: 5vh;
}
#loginbutton {
  margin: 5vh;
  outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #fff;
padding: 10px 20px;
border: solid 1px skyblue;
background: skyblue;
}

#form{
  text-align: center;
  
}
#username{
  text-align: center;
  margin: 5vh;
  margin-right: 6vh;
}
#emailsignup{
  text-align: center;
  margin: 5vh;
  margin-right: 6vh;
}
#passwordsignup{
  text-align: center;
  margin: 5vh;
  margin-right: 6vh;
}
#typeofuser{
  text-align: center;
  margin: 5vh;
  margin-right: 7vh;
}
#signupbutton{
  outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #fff;
padding: 10px 20px;
border: solid 1px skyblue;
background: skyblue;
}

.new-artist{
  text-align: center;

}
#firstname{
  text-align: center;
  margin: 5vh;
}
#lastname{
  text-align: center;
  margin: 5vh;
}
#bio{
  text-align: center;
  margin: 5vh;
}
#newartistbutton{
  outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #fff;
padding: 10px 20px;
border: solid 1px skyblue;
background: skyblue;
margin-left: 8vh;
}

#titlenft{
  text-align: center;
  margin: 5vh;
  margin-left: 6vh;
}
#description{
  text-align: center;
  margin: 5vh;
}
#value{
  text-align: center;
  margin: 5vh;
}
#file{
  text-align: center;
  margin: 5vh;
}
#nftbutton{
  outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #fff;
padding: 10px 20px;
border: solid 1px skyblue;
background: skyblue;
margin-left: 10vh;
}
/*GALLERY Basics  */
/* div.gallery {
  align-content: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  max-width: 30%;
  width: auto;
  height: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.galleryinfo {
  padding: 30px;
}

div.desc {
  padding: 25px;
  text-align: center;
}

.internalauth li {
  font-size: 8px;
  padding: 1px;
  margin: 1px;
} */

/* Gallery another try */

.gallery {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

div.card {
  max-width: 100%;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #1b1b1b33;
  margin: 15px;
  transition: all 0.3s;
}

div.card-image {
  max-height: auto;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

div.card-image img {
  width: 100%;
  max-width: 100%;
  height: 230px;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
}

div.card-description {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

div.card-description h3 {
  color: rgb(92, 92, 150);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

div.card-description p {
  color: purple;
  font-size: 14px;
  margin-bottom: 16px;
}

div.card-description a {
  color: rgb(194, 141, 194);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
}

div.card-image img:hover {
  opacity: 0.8;
}





