<form action="/auth/edit/{{editArtist._id}}" method="POST">
  <label for="">Username:</label>
  <input type="text" name="username" id="">
  <label for="">First Name:</label>
  <input type="text" name="firstName" id="">
  <label for="">Last Name:</label>
  <input type="text" name="lastName" id="">

  <button type="submit">Edit your Profile</button>
</form>