<form action="/auth/edit/{{editArtist._id}}" method="POST">
<div class="editcontainer">
  <div class="usernameeditprofile">
  <label for="">Username:</label>
  <input id="inputeditartist" type="text" name="username" id="">
 </div>
 <div class="firstnameedit">
  <label for="">First Name:</label>
  <input id="inputeditartist" type="text" name="firstName" id="">
 </div>
 <div class="lastnameedit">
  <label for="">Last Name:</label>
  <input id="inputeditartist" type="text" name="lastName" id="">
</div>
</div>
  <button id="editprofilebutton" type="submit">Edit your Profile</button>
  
</form>
